html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  font-weight: 900;
  text-shadow: 2px 2px 0 #000000;
  font-size: 5rem;
  word-spacing: 1rem;
}

.section {
  background: url(../images/background_w_320.jpg) no-repeat;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

p {
  background: #000000ae;
  font-weight: 300;
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 853px) {
  .section {
    background: url(../images/background_w_914.jpg) no-repeat;
    background-size: cover;
  }
  .tagline {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1228px) {
  .section {
    background: url(../images/background_w_1394.jpg) no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    background: url(../images/background_w_1440.jpg) no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 9rem;
  }
}
