html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}

.item {
  background-color: #2a2138;
}

.menu {
  background-color: #2a2138;
  color: white;
}
.fa-solid {
  margin-right: 1rem;
  text-align: center;
  width: 2rem;
}

ul {
  padding: 0;
}

li {
  padding: 15px;
  list-style-type: none;
}

li:hover,
.active {
  background-color: #221a2e;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 20%;
    height: 100vh;
  }
}
